trigger: none
variables:
- name: INFRACOST_API_KEY
  value: $(INFRACOST_API_KEY)


pool: Infrapipeline

stages:
- stage: terraform_install_validate
  jobs:
  - job: install_jobs
    displayName: install to validate
    steps:
    - task: TerraformInstaller@1
      displayName: terraform install
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: terraform init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        backendServiceArm: 'Infrapipelineserviceconnection'
        backendAzureRmResourceGroupName: 'Ravindra_pipelinerg'
        backendAzureRmStorageAccountName: 'ravindrastg322'
        backendAzureRmContainerName: 'ravindracontainer'
        backendAzureRmKey: 'terraform.tfstate'
    - task: TerraformTask@5
      displayName: terraform fmt
      inputs:
        provider: 'azurerm'
        command: 'custom'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: 'Infrapipelineserviceconnection'
    - task: TerraformTask@5
      displayName: terraform validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'

- stage: scanning_tool
  jobs:
  - job: tfsec_scan
    displayName: Run tfsec
    steps:
      - script: C:\tfsec\tfsec.exe $(System.DefaultWorkingDirectory)/enviorment/dev
        displayName: tfsec scan
- stage: terraform_plan
  jobs:
  - job: terraform_plan
    steps:
    - task: TerraformTask@5
      displayName: terraform init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        backendServiceArm: 'Infrapipelineserviceconnection'
        backendAzureRmResourceGroupName: 'Ravindra_pipelinerg'
        backendAzureRmStorageAccountName: 'ravindrastg322'
        backendAzureRmContainerName: 'ravindracontainer'
        backendAzureRmKey: 'terraform.tfstate'
    - task: TerraformTask@5
      displayName: terraform_plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        commandOptions: '-out=tfplan'
        environmentServiceNameAzureRM: 'Infrapipelineserviceconnection'
    - task: CmdLine@2
      displayName: Debug Infracost API key
      inputs:
        script: |
          if "%INFRACOST_API_KEY%"=="" (
            echo ❌ API KEY IS EMPTY
            exit /b 1
          ) else (
            echo ✅ API KEY IS PRESENT
          )
    - task: CmdLine@2
      displayName: Infracost cost breakdown
      inputs:
        script: |
          echo Running Infracost...
          set INFRACOST_API_KEY=ico-UKZo9bNI21s4QnT2ajdK1VZwKU0Ov6SF


          C:\infracost\infracost.exe breakdown ^
            --path=$(System.DefaultWorkingDirectory)/enviorment/dev ^
            --format table
