trigger: none
pool: Infrapipeline
stages:
  - stage: terraform_install_validate
    jobs:
      - job: intall_jobs
        displayName: install to validate
        steps:
        - task: TerraformInstaller@1
          displayName: terraform install
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
            backendServiceArm: 'Infrapipelineserviceconnection'
            backendAzureRmResourceGroupName: 'Ravindra_pipelinerg'
            backendAzureRmStorageAccountName: 'ravindrastg322'
            backendAzureRmContainerName: 'ravindracontainer'
            backendAzureRmKey: 'terraform.tfstate'
        - task: TerraformTask@5
          displayName: terraform fmt
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
            outputTo: 'console'
            customCommand: 'fmt'
            environmentServiceNameAzureRM: 'Infrapipelineserviceconnection'
        - task: TerraformTask@5
          displayName: terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
  - stage: scanning_tool
    jobs:
      - job: scanning_tool
        steps:
        - script: C:\tfsec\tfsec.exe $(System.DefaultWorkingDirectory)/enviorment/dev
        displayName: Run tfsec (absolute path)
