trigger: none

pool: Ravindranewpipeline

stages:
- stage: init_to_plan
  displayName: init se plan tak
  jobs:
  - job: init_stage
    displayName: 1st job
    steps:
    - task: TerraformInstaller@1
      displayName: terraform install
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: terraform init
      inputs:
        provider: 'azurerm'
        command: 'init'
        commandOptions: '-upgrade=false'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        backendServiceArm: 'pipeservice'
        backendAzureRmStorageAccountName: 'ravindrastg322'
        backendAzureRmContainerName: 'ravindracontainer'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTask@5
      displayName: terraform validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'

  - job: plan_stage
    displayName: 2nd job
    dependsOn: init_stage
    steps:
    - task: TerraformTask@5
      displayName: terraform init
      inputs:
        provider: 'azurerm'
        command: 'init'
        commandOptions: '-upgrade=false'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        backendServiceArm: 'pipeservice'
        backendAzureRmStorageAccountName: 'ravindrastg322'
        backendAzureRmContainerName: 'ravindracontainer'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTask@5
      displayName: terraform plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/enviorment/dev'
        environmentServiceNameAzureRM: 'pipeservice'
